#back-top {
    position: fixed;
    right: 24px;
    bottom: 24px;
    width: 60px;
    height: 60px;
    background: #993333;
    border-radius: 999px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    user-select: none;
    z-index: 1000;

    img {
        width: 20px;
        height: auto;
    }
}


.footer {
    padding-top: 60px;
    background-image: url('../images/patten-1.png');
    background-size: cover;
    background-repeat: repeat;
    background-blend-mode: color-burn;
    background-color: #993333;

    .logo {
        img {
            height: 65px;
            width: auto;
        }
    }
    &-top {
        &__container {
            padding-bottom: 40px;
        }
        &__content {
            grid-gap: 40px;
            gap: 40px;
            padding-bottom: 40px;
            margin-bottom: 40px;
            border-bottom: 1px solid #ffffff80;
        }
        &__left {
            .text-list {
                li {
                    position: relative;
                    padding-left: 15px;
                    &::before {
                        position: absolute;
                        content: '';
                        width: 4px;
                        height: 4px;
                        border-radius: 999px;
                        background-color: #fff;
                        top: 8px;
                        left: 0;
                    }
                }
            }
        }

        &__center {
            .item-info {
               &__icon {
                transform: translateY(4px);
               }
            }
        }

        &__right {
            .social-link {
                width: 37px;
                height: 37px;
            }

            .social-icon {
                height: 16px;
                max-height: 16px;
            }
            .social-link {
                &:hover {
                    background-color: #fff;
                }
            }
        }
    }

    &-menu {
        &__list {
            grid-gap: 10px 40px;
            gap: 10px 40px;
        }
        &__item {
            position: relative;
            padding-left: 15px;
            &::before {
                position: absolute;
                content: '';
                width: 4px;
                height: 4px;
                border-radius: 999px;
                background-color: #fff;
                top: 8px;
                left: 0;
            }
        }
    }

    &-bot {
        background-color: rgba($color: #fff, $alpha: 0.2);

        .list {
            flex-wrap: wrap;
        }
    }
}